@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}

:root {
    --major-bg-color: #131921;
    --minor-bg-color: #ebebed;
    --amazon-color: #febd68;
}
body{
    background-color: var(--minor-bg-color);
}




 .first{
    width: 100%;
    padding-top: 10px;
    height: 65px;
    background-color: var(--major-bg-color);
    display: flex;
    /* align-items: center; */
    /* flex-direction: column; */
 }
 .first img{
    width: 120px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 3px;
 }
 /* .first{
    display: flex;
    flex-direction: row;
    
 } */
 .flex{
    display: flex;
    /* justify-content: center; */
 }
 .flex span,i{
color: white;
 }
 .logo{
    /* flex: 0.18; */
    display: flex;
    margin-right: 10px;
    /* justify-content: space-between; */

 }
 .map{
    border: 1px transparent;
    border-radius: 3px;
    
 }
 .map i{
    margin-top: 25px;
    padding-left: 5px;
    font-weight: 17px;
    margin-left: 8px;

 }
 .map div{
    padding: 3px;
    margin-top: 12px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
   
 }
 .map div span:first-child{
     font-weight: 500;
     font-size: 10px;
     width: 50px;
     color: #cccccc;
 }
 .map div span{
   
    font-weight: 600;
    font-size: 12px;

 }
 
 .search-bar{
    /* idth :200wpx; */
    height: 50px;
   background-color: white;
    width: 950px;
    border-radius: 5px;
    display: flex;
    margin: 0 10px;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    margin-left: 25px;
 }
 /* .input{
    width: 100%;
    margin-top: 1px;
    background-color: white;
    flex: 0.53;
    border-radius: 5px;
    display: flex;
    margin: 0 10px;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
 } */
 .search-bar input{
    outline: none;
    width: 80%;
    font-size: 16px;
    padding: 10px 2px;
    border: none;

 }
 .search-bar .fa-search{
    color: rgb(51,51,51);
    padding: 15px 15px;
    font-size: 20px;
    cursor: pointer;
    background-color: #febd69;
    border-radius: 0 5px 5px 0;

 }
 .search-bar div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid grey;
    background-color: rgb(236,234,234);
    padding: 10px 0;
 }
 .search-bar div span{
    border-radius: 5px 0 0 5px;
    color: rgb(51,51,51);
    padding: 6px 5px;
    font-size: 13px;
    cursor: pointer;
 }
 .search-bar .fa-caret-down{
     color: rgb(51,51,51);
     cursor: pointer;
     padding: 5px;
 }
 


.header2{
    height: 40px;
    width: 100%;
    background-color: #232f3e;
    display :flex;
    align-items: center;
    color: white;
    overflow: hidden;
}
.header2 ul{
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}
.header2 span{
    font-size: 12px;
    font-weight: bold;

}
.header2-1 div i{
  font-size: 20px;
  

  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;

}
.header2 li{
    padding :5px 10px;
    font-size :12px;
    font-weight: 500;
    margin :7px 0;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
}
.header2-1{
    /* flex: 0.6; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
}
.header2-1 div{
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.header2-2{
    display: flex;
    flex: 0.74;
    justify-content: flex-start;
    margin-left :15px;
}
.header2-3{
    flex: 0.2;
    display: flex;
    justify-content: flex-end;
    /* margin-right: 0; */
    overflow: hidden;

}
.header2-3 div span{
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
}
.header2-1 div span{
    padding: 5px;
    cursor: pointer;

}

/* .section-0-container {
    margin: 20px;
    padding: 20px;
    background-color: white;
    width: 100%;

} */








.section-1{
    width: 100%;
    height: auto;
    /* display: flex; */
    background-image:linear-gradient(transparent,rgba(235,235,235)), url("../homebg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.section-1 .section-1-container{
    margin-top: 250px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.section-1 .section-1-container .section-1-column{
    width: 100%;
    background-color: white;
    padding: 20px;
}
.section-1 .section-1-container .section-1-column img{
    margin-top: 20px;
    width: 100%;
    height: auto;

}

.section-1 .section-1-container .section-1-column p{
    margin-top: 10px;
    font-size: 14px;
    color: #007185;

}
.section-1 .section-1-container .section-1-column button{
   margin-top: 20px;
   width: 100%;
   border: none;
   background-color: var(--amazon-color);
   padding: 8px;
   border-radius: 8px;
}
.section-2{
    margin: 20px;
    padding: 20px;
    background-color: white;

}
.section-2 .section-2-container h3{
   margin-bottom: 10px;

}
.section-2 .section-2-container .product-cards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    overflow: auto;

}
.section-2 .section-2-container .product-card{
    display: inline-block;
    width: 260px !important;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.section-2 .section-2-container .product-card img{
    width: auto;
    height: auto;
    max-width: 270px;
    max-height: 200px;
}

/*Section3*/
.section-3{
    width: 100%;
    height: auto;
    display: flex;
}
.section-3 .section-3-container{
    margin-top: 2px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.section-3 .section-3-container .section-3-column{
    width: 100%;
    background-color: white;
    padding: 20px;
}
.section-3 .section-3-container .section-3-column img{
    margin-top: 20px;
    width: 100%;
    height: auto;

}

.section-3 .section-3-container .section-3-column p{
    margin-top: 10px;
    font-size: 14px;
    color: #007185;

}

/*Section 4*/

.section-4{
    margin: 20px;
    margin-top: 2px;
    padding: 20px;
    background-color: white;

}
.section-4 .section-4-container h3{
   margin-bottom: 10px;
   

}
.section-4 .section-4-container .product-books{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
    flex-wrap: nowrap;
    overflow: auto;
    margin-bottom: 20px;
   

}
.section-4 .section-4-container .product-book{
    display: inline-block;
    width: 260px !important;
    flex: 0 0 auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.section-4 .section-4-container .product-book img{
    width: auto;
    height: auto;
    max-width: 270px;
    max-height: 200px;
}


.section-5 {
    background-color: white;
    margin: 20px;
}
.section-5 .section-5-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
}
.section-5 .section-5-container .product-detail-cards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.section-5 .section-5-container .product-detail-cards .product-detail-card {
    display: inline-block;
    width: 200px !important;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
}
.section-5 .section-5-container .product-detail-cards .product-detail-card .product-detail-img {
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-5 .section-5-container .product-detail-cards .product-detail-card img {
    width: 100%;
    height: auto;
    max-width: 160px;
    max-height: 140px;
}
.section-5 .section-5-container .product-detail-cards .product-detail-card a {
    text-decoration: none;
    color: #007185;
    font-size: 14px; ;
}
.section-5 .section-5-container .product-detail-cards .product-detail-card a:hover {
    color: #c45500;
}
.section-5 .section-5-container .product-detail-cards .product-detail-card .product-deliver-by {
    color: #222;
    font-size: 10px;
}




.section-6{
    padding: 20px;
}
.section-6 .section-6-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
    
}
.section-6 .section-6-container p{
    margin-top: 4px;
    font-size: 11px;
}
.section-6 .section-6-container button{
    width: 200px;
    
    border: none;
    background: var(--amazon-color);
    padding: 8px;
    border-radius: 5px;
}
.section-6 .section-6-container p{
    align-items: center;
}
.footer-1{
    position: relative;
    width: 100%;
    /* padding: 40px; */
    background: rgba(35,47,62,255);
    
}
.footer-section{
    display: flex;
    padding: 60px;
    margin-left: 200px;
    margin-right: 250px;
    /* border-bottom: #ccc; */
    
}
.backtop{
    text-align: center;
    height: 20px;
    background-color: #37475a;
    padding: 16px;

}
.backtop span{
    color: white;
    font-weight: bold;
    font-size: 13px;
    margin-top: 2px;
}
.footer-section-1{
    width: 22%;
    display: block;
    padding: 20px 35px;

}
.footer-section-1 p{
    font-size: 15px;
    
    color: white;
    margin-bottom: 8px;
}

.footer-section-1 li{
    color: white;
    display: block;
    text-decoration: none;
    padding: 4px 0px;
    font-size: 12px;
}
.top-footer{
    border-bottom: 1px solid gray;
    
}
.bottom-footer{
    height :100px;
    width: 100%;
    /* display :flex; */
}
.bottom-footer ul{
    list-style: none;
    display: flex;
    margin-left: 600px;
}
.bottom-footer ul li{
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-left: 20px;
}

/* .bottom-footer img{
    width: 80px;
    margin-top: 15px;
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 3px;
 } */

 /*  */
 .top-right-navbar{
    height: 50px;
    width: 450px;
    /* background-color: yellow; */
    float: right;
    margin-left: 12px;
    display :flex;
 }
 .flag{
    width :80px;
    height :100%;
    /* background-color: green; */
    display: flex;
 }
 .account{
    width: 170px;
    height :100%;
    padding-left: 20px;
    /* background-color: red; */
 }
 .order{
    width: 130px;
    height :100%;

    /* background-color: blue; */
 }
 .cart{
    /* background-color: palevioletred; */
    width: 67px;
    display: flex;
    padding-top: 10px;
 }
 .flag img{
    width :20px;
    height: 15px;
    margin-left: 6px;
    margin-bottom: 5px;
}
.en{
    display: flex;
    /* margin-bottom: 5px; */
    margin-top: 10px;
    margin-left: 1px;
}
.text-white{
    color: white;
}
.copy-right{
    margin-right: 200px;
    font-size: 14px;
    margin-left: 690px;
}